name: Pylint

on: [push]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.13"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pylint
        pip install -r requirements.txt
    - name: Analyse with pylint
      run: |
        pylint --disable=E0401,E0611,E1133,C0114,C0115,C0116,C0301,C0415,R0801,R0902,R0903,R0912,R0914,R0915,W0108,W0212,W0613,W0718 $(git ls-files '*.py')
